<!DOCTYPE html>
<html lang="en">

<head>
  <title>LR Sample SPA
  </title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <script src="https://auth.lrcontent.com/v2/js/LoginRadiusV2.js"></script>
</head>

<body>
  <div class="container text-center content">
    <h3>LR Sample SPA</h3><br>
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4" >
        <div id="react-root">
        <% if (process.env.NODE_ENV === 'production') { %>
          <script src="/client/client.js"></script>
          <% } else { %>
         <script src="http://localhost:10001/client.js"></script>
        <% } %>
        </div>
        <div id="social">

        </div>
        <script type="text/html" id="loginradiuscustom_tmpl">
          <a class="lr-provider-label" href="javascript:void(0)" onclick="return LRObject.util.openWindow('<#= Endpoint #>');" title="<#= Name #>" alt="Sign in with <#=Name#>">
            <#=Name#>
          </a>
        </script>
      </div>
      <div class="col-lg-4">
      </div>
    </div>
  </div>
</body>
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
</html>
